.center		{
  text-align:		center;
}
select.number {
  font-size:    200%;
}
#passwords {
  font-size:		200%;
  text-align:		center;
}
.password {
  margin-bottom:10px;
}
.password span {
  border-bottom:solid 1px #333333;
}
.copied {
  background-color:#98fb98;
}

table {
  border-collapse: collapse;
  margin:0 auto;

}
table th {
  padding: 6px;
  text-align: left;
  vertical-align: top;
  color: #333;
  background-color: #eee;
  border: 1px solid #b9b9b9;
}
table td {
  padding: 6px;
  background-color: #fff;
  border: 1px solid #b9b9b9;
}

button {
  width: 180px;
  height: 45px;
  font-size: 25px;
  margin:10px;
  text-align:center;
}
