#roulette_window {
  position: relative;
  width: 600px;
  height: 500px;
  border: 1px double #000000;
  overflow: hidden;
}
#roulette_join {
  position: absolute;
  width: 1000px;
  height: 1000px;
  top: -250px;
  left: 100px;
}

canvas {
  position: absolute;
}

#alternatives {
  width: 50%;
}

#btn {
  width: 250px;
  height: 85px;
  font-size: 55px;
  margin:5px;
  text-align:center;
}

#arrow {
  position: absolute;
  width: 100px;
  z-index: 9999;
}

#result {
  width: 600px;
  height: 500px;
  background-color: #bbbbbb;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  vertical-align: middle;
  z-index: 99999;
}
#result span {
  font-size: 300%;
}
